<div class="sidebar_content">
  <aside>
    <div class="sidebar_block1">
      <h4>Resources</h4>
    </div>
    <div class="sidebar_block2">
        <ul>
      <li>
        <a href="http://www.slideshare.net/amazonwebservices">Welcome to AWS</a>
      </li>
      <li>
        <a href="http://aws.typepad.com/">Amazon Web Services Blog</a>
      </li>
      <li>
        <a href="http://www.allthingsdistributed.com/">Werver Vogel's AWS Blog</a>
      </li>
      <li>
        <a href="http://calculator.s3.amazonaws.com/calc5.html">Amazon Simple Monthly Calculator</a>
      </li>
      <li>
        <a href="http://aws.amazon.com/ec2/instance-types/">Amazon EC2 Instance Types</a>
      </li>
      <li>
        <a href="http://www.youtube.com/user/AmazonWebServices">Amazon AWS YouTube Channel</a>
      </li>
       <li>
        <a href="http://aws.amazon.com/whitepapers/">AWS Cloud Computing Whitepapers</a>
      </li>
      <li>
        <a href="http://aws.amazon.com/about-aws/whats-new/">What's New at AWS?</a>
      </li>
    </ul>
    <p></p>
    </div>
    <h4>Subscribe</h4>
  <div class="sidebar_block3">

        <a href="{{ site.url }}/feed.xml"><img src="http://images.tacplan.com.s3.amazonaws.com/img/core/rss.png" alt="Syndicate">  Subscribe to rss feed</a>

      <p></p>
   </div>
   <h4>Archive</h4>
  <div class="sidebar_block4">
    <ul>
      <li class="{% if page.title == "Archive" %}current{% endif %}">
        <a href="{{ site.url }}/archive/archive.html">All Posts</a>
      </li>
    </ul>
    <p></p>
  </div>
  </aside>
</div>