<header>
  <div class="grid1">
  </div>
   <div class="grid2">
      <h1>
        <a href="{{ site.url }}/">
          <span>TACplan</span>
          <img src="{{ site.url }}/img/banner_small_trans.png" alt="">
        </a>
      </h1>
    </div>
    <div class="content">
    <nav class="grid3">
      <ul>
        <li {% if page.overview %}class="current"{% endif %}>
          <a href="{{ site.url }}/">Blog</a>
        </li>
        <li {% unless page.overview %}class="current"{% endunless %}>
          <a href="{{ site.url }}/docs">Projects</a>
        </li>
        <li class="">
          <a href="https://aws.amazon.com">Amazon AWS</a>
        </li>
      </ul>
    </nav>
    <div class="clear"></div>
  </div>
</header>
