.content {
  width: 650px;
  margin: 5px 160px;
}

.maingrid {
  position: absolute;
  left: 160px;
  top: 240px;
  width:1100px;
  margin:0 auto;
}

.post_content {
  padding-right: 40px;
  float:left;
  width:700px;
}

.sidebar_content {
  padding-left: 40px;
  float:right;
  width:280px;
}

.grid1 {
  z-index: -1;
  position: absolute;
  margin-top: 15px;
  height: 110px;
  width: 100%;
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
}
.grid7, .grid8, .grid9, .grid10, .grid11 {
  display: inline;
}
.grid2 {
  z-index: 1;
  margin-top: 15px;
  height: 114px;
  width: 378px;
}
.grid3 {
  width: 474px;
}
.grid4 {
  
}
.grid5 {

  clear: both;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  height: 20;
  margin-top: 20;
  background: #3d3d3d;
  font-size: 16px;
  color: #888;
  width: 100%;
}
.grid6 {

}
.grid7 {
  width: 558px;
}
.grid8 {
  width: 642px;
}
.grid9 {
  width: 726px;
}
.grid10 {
  width: 810px;
}
.grid11 {
  width: 894px;
}
.first {
  margin-left: 0;
  clear: left;
}

/* clearfix */
.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clear {
  zoom: 1;
} /* IE6 */
*:first-child+html .clear {
  zoom: 1;
} /* IE7 */